name: Run unit and integration tests
on:
  workflow_call:
    inputs:
      python-version-file:
        description: Version file to use for python version
        required: true
        type: string
      unit-test-path:
        description: Path where unit tests are located
        required: true
        type: string
      integration-test-path:
        description: Path where integration tests are located
        required: true
        type: string

    outputs:
      unit-tests-results:
        description: Unit tests results
        value: ${{ jobs.pytest.outputs.unit-tests-results }}
      integration-tests-results:
        description: Integration tests results
        value: ${{ jobs.pytest.outputs.integration-tests-results }}

jobs:
  pytest:

    # Job config
    name: Run tests
    runs-on: small
    container:
      image: p2p/ubuntu24:latest
    permissions:
      contents: read

    # Outputs
    outputs:
      unit-tests-results: ${{ steps.unit-tests.outputs.status }}
      integration-tests-results: ${{ steps.integration-tests.outputs.status }}


    # Steps
    steps:
      - name: Check out source repository
        id: checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version-file: "${{ inputs.python-version-file }}"
          cache: 'pip'

      - name: Install uv package
        id: uv-install
        uses: astral-sh/setup-uv@v5

      - name: Install the project
        id: uv-project
        run: uv sync --all-extras --dev

      - name: Run unit tests
        id: unit-tests
        run: |
          set +e
          uv run pytest "${{ inputs.unit-test-path }}" -v --cov=src --cov-report=term-missing
          echo "status=$?" >> $GITHUB_OUTPUT
          set -e

      - name: Run integration tests
        id: integration-tests
        run: |
          set +e
          uv run pytest "${{ inputs.integration-test-path }}" -v
          echo "status=$?" >> $GITHUB_OUTPUT
          set -e
        continue-on-error: true  # Integration tests may require external services
